<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homework 8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNIT 133: Homework 8</title>
</head>

<body>
    <form action="" id="main-form">
        <p>Start typing a name below to get a hint:</p>
        <label for="first-name">First name:</label>
        <input type="text" name="first-name" id="first-name">
        <p id="hint-output"></p>
    </form>
    <script src="../static/hw8.js"></script>
</body>

</html>